*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  margin: 0;
;
  font-family: sans-serif;
}


.img-center {
  text-align: center;
}

.img-center > img {
  width: 70%;
}

h1 {
  background-color: lightblue;
}

body{
background-color: bisque;
color:black;
text-align: center ;
padding: 10px ;
margin-top : 0 ;

}
  





